@{ ViewData["Title"] = "Tree"; }

<div class="row" id="tree">
    <div class="col-12"></div>
</div>


<script>
    new Vue({
        el: '#tree',
        data: {
            tree: null,
        },
        methods: {
            getData: function () {
                axios
                    .get('/Composite/GetTree')
                    .then(response => {
                        
                    })
            },
            handleNodes: function (data) {

            } 
        }
    })
</script>