<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tree</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Node" asp-action="Index">Tree</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Node" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/Node/GetTree/',
                success: function (response) {
                    $("#tree").html(buildTree(response, false));
                    //$("#tree2").html(buildList(response, false));
                    makeDropdowns();
                }
            });
        });

        function buildTree(data, isNode) {
            var html = '';
            html += (isNode) ? '<ul class="nested">' : '<ul>';
            for (item in data) {
                html += '<li>';
                if (data[item].nodes.length > 0) {

                    html += '<span class="caret">' + data[item].name + '</span>';

                    html += buildTree(data[item].nodes, true);
                } else {
                    html += data[item].name;
                }
                html += '</li>';
            }
            html += '</ul>';
            return html;
        }

        function makeDropdowns() {
            var toggler = document.getElementsByClassName("caret");
            var i;

            for (i = 0; i < toggler.length; i++) {
                toggler[i].addEventListener("click", function () {
                    this.parentElement.querySelector(".nested").classList.toggle("active");
                    this.classList.toggle("caret-down");
                });
            }
        }

        //function buildList(data, isSub) {
        //    var html = (isSub) ? '<div>' : ''; // Wrap with div if true
        //    html += '<ul>';
        //    for (item in data) {
        //        html += '<li>';
        //        if (typeof (data[item].nodes) === 'object') { // An array will return 'object'
        //            if (isSub) {
        //                html += '<a href="#">' + data[item].name + '</a>';
        //            } else {
        //                html += data[item].name; // Submenu found, but top level list item.
        //            }
        //            html += buildList(data[item].nodes, true); // Submenu found. Calling recursively same method (and wrapping it in a div)
        //        } else {
        //            html += data[item].name // No submenu
        //        }
        //        html += '</li>';
        //    }
        //    html += '</ul>';
        //    html += (isSub) ? '</div>' : '';
        //    return html;
        //}

        

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
